*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

.background {
    background-color:#0c0ce94d;

}


header {
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    padding-top: 1rem;
    align-items: center;
}

.logo img {
    width: 75px;
    height: auto;
    margin-left: 2rem;
    border-radius: 50%;
    border: 0.1px solid black;
}

ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

ul li a :hover {
    text-transform: capitalize;
    color: brown;
    border-bottom: solid 1px;
}


.container {
    display: flex;
}


.container h1 {
    color: black;
    font: 3.0rem;
    margin: 0.6rem 0;
    padding: 1rem 1.2rem;
}

.container p {
    color: brown;
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 100s;
    margin: 0.2rem 0;
    padding: 5rem 1.2rem;
    align-items: center;
}

.container img {
    width: 50%;
    height: auto;
    border-radius: 5%;
}
